.jumbotron {
    padding-top:270px;  
    padding-bottom:240px;
    margin-top: 1.0em;
}

.jumbotron h1 {
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: #f1f1f1;
    font-family: sans-serif;
}

#navbarNavDropdown {
    padding-top: 2em;
}

.navbar-brand {
    padding-top: 2em;
    padding-left: 4em;
    width: auto;
    height: auto;
}

.container {
    align-items: center;
    justify-content: center;
    margin-right: 6em;
    gap: 2em;
}


* {
    scroll-behavior: smooth;
}



