.jumbotron {
    background-image: url("./imgs/hero2.jpg");
    position: relative;
    padding-top:250px;  
    padding-bottom:200px;
}

.jumbotron h1 {
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: #f1f1f1;
    font-family: sans-serif;
}

